<div class="swiper categories-slider">
    {% use "Components/slider.html.twig" %}
    {% block slideContent %}
        <div class="swiper-wrapper">
                {% for category in categories %}
                <div class="swiper-slide">
                        <img src="{{ asset(category.categoryPhotoPath ) }}" alt="{{ category.categoryName }}">
                        <a class="tests" href="{{ path('portfolio_page') }}/{{category.slug}}">{{ category.categoryName }}</a>
                </div>
                {% endfor %}
        </div>
    {% endblock %}
</div>