{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_from_query_params = app.request.query.get('currentRoute') %}

{% set active_route = null %}
{% if current_route == 'homepage' or current_route_from_query_params == 'homepage' %}
  {% set active_route = 'homepage' %}
{% elseif current_route == 'portfolio_page' or current_route_from_query_params == 'portfolio_page' %}
  {% set active_route = 'portfolio_page' %}
{% elseif current_route == 'special_offer_page' or current_route_from_query_params == 'special_offer_page' %}
  {% set active_route = 'special_offer_page' %}
{% elseif current_route == 'price_list_page' or current_route_from_query_params == 'price_list_page' %}
  {% set active_route = 'price_list_page' %}
{% elseif current_route == 'about_me_page' or current_route_from_query_params == 'about_me_page' %}
  {% set active_route = 'about_me_page' %}
{% elseif current_route == 'contact_page' or current_route_from_query_params == 'contact_page' %}
  {% set active_route = 'contact_page' %}
{% elseif current_route == 'blog_page' or current_route_from_query_params == 'blog_page' %}
  {% set active_route = 'blog_page' %}
{% elseif current_route == 'business_conditions_page' or current_route_from_query_params == 'business_conditions_page' %}
  {% set active_route = 'business_conditions_page' %}
{% elseif current_route == 'photography_info_page' or current_route_from_query_params == 'photography_info_page' %}
  {% set active_route = 'photography_info_page' %}
{% endif %}


<header>
  <nav {% if active_route == 'homepage' %}data-controller="scrollHeader"{% endif %} data-scrollHeader-target="" class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand mx-2" href="{{ path('homepage') }}" id="brand">
        <span id="brand">FOTOGRAFIE OD HANKY</span>
      </a>
      <button data-scrollHeader-target="hamburger" type="button" class="hamburger navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNav" data-action="scrollHeader#toggleBackground" aria-expanded="false">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav" data-scrollHeader-target="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if active_route == 'homepage' %}active{% endif %}" aria-current="page" href="{{ path('homepage') }}">Domů</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_route == 'portfolio_page' %}active{% endif %}" href="{{ path('portfolio_page') }}">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_route == 'special_offer_page' %}active{% endif %}" href="{{ path('special_offer_page') }}">Novinky</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_route == 'price_list_page' %}active{% endif %}" href="{{ path('price_list_page') }}">Ceník</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_route == 'about_me_page' %}active{% endif %}" href="{{ path('about_me_page') }}">O mně</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_route == 'contact_page' %}active{% endif %}" href="{{ path('contact_page') }}">Kontakt</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="show-more" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Další
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link {% if active_route == 'business_conditions_page' %}active{% endif %}" href="{{ path('business_conditions_page') }}">Obchodní podmínky</a></li>
              <li><a class="dropdown-item nav-link last-link {% if active_route == 'photography_info_page' %}active{% endif %}" href="{{ path('photography_info_page') }}">Informace k focení</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>